<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tree" class="com.bean.Tree" init-method="init" destroy-method="destroy" scope="singleton">
		<property name="ht" value="3"></property>
		<property name="name" value="Tulsi"></property>
		
	</bean>


	<bean id="tree1" class="com.bean.Tree" init-method="init" destroy-method="destroy" scope="prototype">
		<property name="ht" value="3"></property>
		<property name="name" value="Tulsi"></property>
		
	</bean>



</beans>